@import "_normalize.scss";
@import "_fonts.scss";
* {
    box-sizing: border-box;
    cursor: default;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
}

nav {
    color: #fff;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    div:first-child {
        padding: 0 2.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            align-self: center;
            height: 8.5vh;
            width: 8vh;
        }
        p {
            margin: 0;
            align-self: center;
        }
    }
    div:last-child {
        color: #fff;
        width: 40%;
        margin-left: auto;
        display: flex;
        ul {
            width: 100%;
            align-self: center;
            display: flex;
            justify-content: space-around;
            li {
                width: 20%;
                a {
                    text-align: center;
                    color: #fff;
                    display: block;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

.inner-container {
    margin: 0;
    font-family: 'Shadows Into Light', cursive;
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Indie Flower', cursive;
    }
    section:first-child {
        background: url('../image/first.jpg') center center fixed no-repeat;
        background-size: cover;
        >div {
            background: url('../image/dotted.png');
            color: #fff;
            font-size: 4vh;
            box-sizing: border-box;
            height: 100vh;
            width: 100%;
            padding-top: 14vh;
            display: flex;
            justify-content: center;
            div {

                width: 100%;
                align-self: center;
                h2 {
                    width: 100%;
                    margin: 1vh 0;
                    text-align: center;
                }
            }
        }
    }
    .temp,
    .temp-2 {
        >div {
            height: 100vh;
            width: 100%;
            padding: 1px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            > div:first-child {
                display: flex;
                flex-direction: column;
                h3, p {
                    width: 90%;
                    align-self: center;
                    text-align: center;
                }
                h3 {
                    font-size: 1.6em;
                }
                p {
                    font-size: 1.3em;
                }
            }
            > div:last-child {
                display: flex;
                justify-content: center;
                div {
                    width: 27%;
                    display: flex;
                    flex-direction: column;
                    h4 {
                        margin: 0;
                        padding: 1px;
                        height: 5vh;
                    }
                    h4,
                    p {
                        width: 75%;
                        align-self: center;
                        text-align: justify;
                    }
                    h4 {
                        text-align: center;
                        font-size: 1.4em;
                    }
                    p {
                        font-size: 1.1em;
                    }
                }
            }
        }
    }
}

.temp-2 {
    background: url('../image/second.jpg') center center fixed no-repeat;
    background-size: cover;
    >div {
        background: url('../image/dotted.png');
        color: #fff;
    }
}

section:nth-child(4n) {
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    div {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
        h3, p {
            text-align: center;
        }
        h3 {
            font-size: 1.6em;
        }
        p {
            font-size: 1.3em;
        }
    }
}

.odd {
    background: #F3F6FA;
}

footer {
    button, h1, h2, h3, h4, h5, h6 {
        font-family: 'Indie Flower', cursive;
        font-size:1.5em;
    }

    font-family: 'Shadows Into Light',
    cursive;
    width: 100%;
    margin: 0;
    padding: 1px;
    >div:first-child {
            p{
        font-size:1.1em;
    }
        padding-left: 10vw;
        display: flex;
        justify-content: center;
        div {
            width: 50%;
        }
        >div:first-child {

            ul{
                li:not(:first-child){
                    text-indent: 2vw;
                    font-size:1.1em;
                }
            }
        }
        >div:last-child {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            button {
                width: 50%;
                box-shadow: none;
                border: none;
                background: #62535D;
                margin:1vh 0;
                font-size: 1.5em;
            }
            ul {
                display: flex;
                li {
                    font-size: 2.5em;
                }
            }
        }
    }
    >div:last-child {
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: column;
        border-top: 1px solid rgba(0, 0, 0, 0.22);
        padding:2vh 0;
        margin-top:4vh;
        justify-content: center;
        p{
            margin:0;
            align-self: center;
        }
        font-weight:300;
    }
}

header,
section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}
