@import "_normalize.scss";
@import "_fonts.scss";
* {
    font-family: 'Poiret One', cursive;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding: 1px;
    background-color: #e6e6e6;
    width: 100%;
}

header {
    display: flex;
    align-content: center;
    width: 100%;
    height: 15vh;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.13);
    ul {
        margin-left: 2vw;
        display: flex;
        width: 40%;
        li {
            font-size: 5vh;
            align-self: center;
            margin: 0 1vw;
        }
    }
}

section {
    width: 100%;
    display: flex;
    >div {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        ul {
            margin: 5vh 0;
            display: flex;
            justify-content: space-around;
            li {
                width: 24%;
                background-color: #be2c2c;
                height: 45vh;
            }
        }
    }
}

footer {
    border-top: 1px solid hsla(0, 0%, 0%, 0.13);
    color: #fff;
    padding: 1px;
    height: 50vh;
    width: 100%;
    background-color: #8C989E;
    display: flex;
    justify-content: center;
    div {
        margin: auto;
        display: flex;
        flex-direction: column;
        h6 {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-style: normal;
            margin: 0;
            padding: 0;
            align-self: center;
            font-size: 2.5vh;
        }
        ul {
            align-self: center;
            display: flex;
            li {
                font-size: 4vh;
                padding: 1vw;
            }
        }
    }
}

.case1 {
    display: flex;
    justify-content: center;
    span {
        position: relative;
        display: inline-block;
        font-family: "Lato", Arial, sans-serif;
        font-size: 15em;
        font-weight: 400;
        transform-style: preserve-3d;
        z-index: 1;
        color: hsla(0, 0%, 0%, 0.6);
    }
    span:before,
    span:after {
        content: attr(data-letter);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform-origin: 0% 50%;
        z-index: 2;
        transition: all .4s ease;
    }
    span:before {
        transform: scale(0.85, 1) skew(0deg, 1deg);
        color: hsla(0, 0%, 0%, 0.12);
    }
    span:after {
        text-shadow: 1px 0px 0px hsla(360, 100%, 100%, 0.1), -3px 0px 1px hsla(0, 0%, 0%, 0.4);
        transform: rotateY(-18deg);
        color: darken(#be2c2c, 10%);
    }
}

.case1:hover span:after {
    transform: rotateY(-40deg);
    text-shadow: 1px 0px 0px hsla(360, 100%, 100%, 0.1), -2px 0px 1px hsla(0, 0%, 0%, 0.4);
}

.case1:hover span:before {
    transform: scale(0.85, 1) skew(0deg, 20deg);
}

.case2 {
    display: flex;
    flex-direction: column;
    h6, h3, div {
        font-style: normal;
        font-weight: 400;
        font-family: "Lato", Arial, sans-serif;
        width: 100%;
        color:#cecece;
    }
    div:first-child{
        height: 80%;
        display: flex;
    }
    h3 {
        align-self: center;
        font-size: 4vh;
        text-align: center;

    }
    div:last-child {
        border-top: 1px solid hsla(0, 0%, 0%, 0.13);
        align-self: center;
        text-indent: 2vh;
        height: 20%;
        font-size:3vh;
        display: flex;
        h6{
            align-self: center;
        }
    }
}
