@import "_normalize.scss";
@import "_fonts.scss";
*,
*:after,
*:before {
    box-sizing: border-box;

}

.container {
     font-family: 'Poiret One', cursive;
    background-color: #eb8181;
    width: 100%;
    font-size: 100%;
    line-height: 1.25;
    font-weight: 300;
}

a {
    color: #FF2A48;
    text-decoration: none;
    outline: none;
}

header {
    display: flex;
    align-content: center;
    width: 100%;
    height: 15vh;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.13);
    ul {
        margin-left: 2vw;
        display: flex;
        width: 40%;
        li {
            font-size: 5vh;
            align-self: center;
            margin: 0 1vw;
        }
    }
}

section {
    padding: 1em;
    text-align: center;
}

.js {
    .grid {
        background: url(../img/loading.gif) no-repeat 50% 100px;
        li {
            display: none;
            float: left;
            img, h3 {
                visibility: hidden;
            }
        }
    }
    .grid.loaded {
        background: none;
        li {
            display: block;
        }
    }
}

.grid {
    width: 100%;
    margin: 30px auto;
    padding: 0;
    list-style: none;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    li.mid {
        width: 628px;
    }
    li.small {
        width: 314px;
    }
    li {
        width: 314px;
        overflow: hidden;
        text-align: left;
        vertical-align: top;
        >a, img {
            display: block;
            outline: none;
            border: none;
        }
        img{
            height:auto;
            background-position: center center;
        }

        > a {
            position: relative;
            overflow: hidden;
            margin: 7px;
        }
        h3 {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0;
            padding: 20px;
            width: 100%;
            background: #2E3444;
            color: #D3EEE2;
            text-align: right;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 800;
            font-size: 1em;
            -webkit-transition: -webkit-transform 0.2s, color 0.2s;
            transition: transform 0.2s, color 0.2s;
        }
        > a::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100.5%;
            height: 100.5%;
            border: 0px solid transparent;
            background: rgba(0, 0, 0, 0);
            content: '';
            -webkit-transition: border-width 0.2s, border-color 0.2s;
            transition: border-width 0.2s, border-color 0.2s;
        }
    }
    li.shown:hover h3 {
        color: #fff;
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    li.animate .curtain {
        -webkit-animation: swipeRight 1.5s cubic-bezier(0.6, 0, 0.4, 1) forwards;
        animation: swipeRight 1.5s cubic-bezier(0.6, 0, 0.4, 1) forwards;
    }
    li.animate .curtain::after {
        -webkit-animation: fadeOut 1.5s ease forwards;
        animation: fadeOut 1.5s ease forwards;
        -webkit-animation-delay: inherit;
        animation-delay: inherit;
    }
    .curtain {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        background: #96cdc8;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    .curtain::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 1);
        content: '';
        left: -100%;
    }
    li.animate img,
    li.animate h3 {
        -webkit-animation: showMe 1.5s step-end forwards;
        animation: showMe 1.5s step-end forwards;
    }
    li.shown img,
    li.shown h3 {
        visibility: visible;
    }
}

@-webkit-keyframes swipeRight {
    0% {}
    50%, 60% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(100%, 0, 0);
    }
}

@keyframes swipeRight {
    0% {}
    50%, 60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate(0);
    }
    100% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@-webkit-keyframes fadeOut {
    0% {}
    50%, 60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {}
    50%, 60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes showMe {
    from {
        visibility: hidden;
    }
    60%,
    100% {
        visibility: visible;
    }
}

@keyframes showMe {
    from {
        visibility: hidden;
    }
    60%,
    100% {
        visibility: visible;
    }
}

footer {
    border-top: 1px solid hsla(0, 0%, 0%, 0.13);
    color: #fff;
    padding: 1px;
    height: 50vh;
    width: 100%;
    background-color: #8C989E;
    display: flex;
    justify-content: center;
    div {
        margin: auto;
        display: flex;
        flex-direction: column;
        h6 {
            font-weight: 300;
            font-style: normal;
            margin: 0;
            padding: 0;
            align-self: center;
            font-size: 2.5vh;
        }
        ul {
            align-self: center;
            display: flex;
            li {
                font-size: 4vh;
                padding: 1vw;
            }
        }
    }
}
